.dark-green {
    -fx-background-color: #629543;
}

.light-green {
    -fx-background-color: #C3D5BD;
}

.almost-white {
    -fx-background-color: #F5F5F2;
}

.text-font{
    -fx-font-family: "Assistant";
}

#text-help-header{
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

.text-helpbox-header{
    -fx-font-family: "Assistant";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.text-helpbox-normal{
    -fx-font-family: "Assistant";
    -fx-font-size: 18px;
}

.text-helpbox-contact{
    -fx-font-family: "Assistant";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.help-button{
    -fx-font-family: "Assistant";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #F5F5F2;
    -fx-background-color: #629543;
}