.dark-green {
    -fx-background-color: #629543;
}

.light-green {
    -fx-background-color: #C3D5BD;
}

.almost-white {
    -fx-background-color: #ECEBEB;
}

.almost-white-fill{
    -fx-text-fill: #ECEBEB;
}

.text-font{
    -fx-font-family: "Assistant";
}

.shadow-effect {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 0, 10, 0, 4);
}

.detail-view-button-green {
    -fx-font-family: "Assistant";
    -fx-font-size: 12px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-background-color: #C3D5BD;
    -fx-background-radius: 14px 14px 0px 0px;
}

.detail-view-button-white {
    -fx-font-family: "Assistant";
    -fx-font-size: 12px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-background-color: #ECEBEB;
    -fx-background-radius: 14px 14px 0px 0px;
}

.green-button {
    -fx-font-family: "Assistant";
    -fx-font-size: 25px;
    -fx-text-fill: #ECEBEB;
    -fx-font-weight: bold;
    -fx-background-color: #629543;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 0, 10, 0, 4);
}

.green-button:hover {
    -fx-background-color: #71ad4c;
}

.green-button: pressed {
       -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 0, 13, 0, 7);
}

.white-button {
    -fx-font-family: "Assistant";
    -fx-font-size: 27px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-background-color: #ECEBEB;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 0, 10, 0, 4);
}

.big-grey-button {
    -fx-font-family: "Assistant";
    -fx-font-size: 27px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-background-color: #C9C9C9;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 0, 10, 0, 4);
}

.white-button:hover {
    -fx-background-color: #d1e6ca;
}

.white-button: pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 0, 13, 0, 7);
}

.lightgreen-button {
    -fx-font-family: "Assistant";
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-background-color: #C3D5BD;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 0, 10, 0, 4);
}

.lightgreen-button:hover {
    -fx-background-color: #629543;
}

.lightgreen-button: pressed {
       -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 0, 13, 0, 7);
}

.red-button {
    -fx-font-family: "Assistant";
    -fx-font-size: 28px;
    -fx-text-fill: #ECEBEB;
    -fx-font-weight: bold;
    -fx-background-color: #AC1E0B;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 0, 10, 0, 4);
}

.grey-button {
    -fx-font-family: "Assistant";
    -fx-font-size: 25px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-background-color: #C9C9C9;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 0, 10, 0, 4);
}

.grey-button:hover {
    -fx-background-color: #629543;
}

.lightgreen-button: pressed {
       -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 0, 13, 0, 7);
}

.small-button{
    -fx-font-size: 20px;
}

.text-page-header{
    -fx-font-family: "Assistant";
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

.text-helpbox-header{
    -fx-font-family: "Assistant";
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}

.text-helpbox-normal{
    -fx-font-family: "Assistant";
    -fx-font-size: 18px;
}

.text-helpbox-contact{
    -fx-font-family: "Assistant";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.text-products {
    -fx-font-family: "Assistant";
    -fx-font-size: 24px;
}

.search-field{
    -fx-background-color: #ECEBEB;
    -fx-background-radius: 20px;
    -fx-font-family: "Assistant";
    -fx-font-size: 32px;
}

.special-rectangle {
    -fx-background-radius: 20 20 0 0;
}

.text-semi{
    -fx-font-family: "Assistant";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.text-category{
    -fx-font-family: "Assistant";
    -fx-font-size: 24px;
}

.detail-view-button {
    -fx-font-family: "Assistant";
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-background-color: #C3D5BD;
    -fx-background-radius: 14px 14px 0px 0px;
}
.detail-view-button:hover {
    -fx-background-color: #629543;
}

.detail-view-button: pressed {
       -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 0, 13, 0, 7);
}

.text-detail-view-detail{
    -fx-font-family: "Assistant";
    -fx-font-size: 16px;
}

.shopping-list-list {
    -fx-background-color: #C3D5BD;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 0, 10, 0, 4);
}

.white-button-shoppinglist {
    -fx-font-family: "Assistant";
    -fx-font-size: 24px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-background-color: #ECEBEB;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 0, 10, 0, 4);
}

.text-shopping-list-title{
    -fx-font-family: "Assistant";
    -fx-font-size: 28px;
}

.text-amount{
    -fx-font-family: "Assistant";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.text-amount-big{
    -fx-font-family: "Assistant";
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.lightbox-background {
    -fx-background-color: rgba(0, 0, 0, 0.5)
}

.productcard {
    -fx-background-radius:  20;
    -fx-background-color: #F7F7F7;
    -fx-border-radius: 20;
    -fx-border-color: #c4c4c4;
    -fx-border-width: 2px;
}


.textfields {
    -fx-background-radius: 10;
    -fx-background-color: #ECEBEB;
    -fx-font-family: "Assistant";
    -fx-font-size: 18px;
}

.textfields:hover {
    -fx-border-color: #000000;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
}

.textfields:focus {
    -fx-border-color: #000000;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
}

.rounded-corners {
    -fx-border-radius: 40px;
}

.text-productcard {
    -fx-font-family: "Assistant";
    -fx-font-size: 24px;
}

.text-mypage {
    -fx-font-family: "Assistant";
    -fx-font-size: 26px;
}

.text-mypage-smaller {
    -fx-font-family: "Assistant";
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.rounded-imageview {
    -fx-background-radius: 40px;
    -fx-border-radius: 40px;
}

.scrollpanes {
    -fx-scrollbar-color: #629543;
}

.dark-close {
    -fx-fill: #629543;
}

.sort-button {
    -fx-font-family: "Assistant";
    -fx-font-size: 16px;
    -fx-text-fill: #000000;
    -fx-background-color: #C9C9C9;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 0, 5, 0, 2);
}

